.parent {
    border: 5px solid rgb(0, 0, 0);
    width: 250px;
    height: 500px;
    box-sizing: border-box; /*para asegurar que va a ser el valor exacto*/
    /*position: relative; posicionarse dentro de la seccion*/
    position: relative;
    background-color: white;
}

.container {
    background-color: #09f;
    width: 150px;
    height: 150px;
    /*position: absolute; para poder determinar top left right bottom*/
    /*inset: 0; tanto arriba, abajo, izq, drc */
    /* margin: auto; */
    position: fixed; /*se queda fijo en la pantalla, no le afecta el position relative */
    /*position: sticky; se va a quedar pegado al contenedor y va tener en cuenta el relative */
    right: 0;
    z-index: 2;
}

body {
    background-color: aliceblue;
    
}