.body-login * {
    margin: 1px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  .body-login {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background: url("https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?q=80&w=2144&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat;
      background-size: cover;
  }
  
  .container-login {
      width: 420px;
      border: 2px solid rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(50px);
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      color: #fff;
      border-radius: 10px;
      padding: 30px 40px;
  
  }
  
  .container-login .h1-login {
      font-family: 'Bebas Neue', sans-serif;
      color: black;
      font-size: 36px;
      text-align: center;
  }
  
  .container-login .input-box {
      position: relative;
      width: 100%;
      height: 50px;
      margin: 30px 0px;
  }
  
  .input-box input {
      width: 100%;
      height: 100%;
      background: transparent;
      border: none;
      outline: none;
      border: 2px solid rgb(255, 255, 255, 0.2);
      border-radius: 5px;
      font-size: 16px;
      color: #fff;
      padding: 20px 45px 20px 20px;
  }
  
  .input-box input::placeholder {
      color: #fff;
  }
  
  .container-login .remember-forgot {
      display: flex;
      justify-content: space-between;
      font-size: 14.5px;
      margin: -0px 0px 0px;
  }
  
  .remember-forgot label input {
      color: #fff;
      margin-right: 3px;
  }
  
  .remember-forgot .log1 {
      color: #fff;
      text-decoration: none;
  }
  
  .remember-forgot .log1:hover {
      text-decoration: underline;
  }
  
  .container-login .btn {
      width: 100%;
      height: 45px;
      background: #fff;
      border: none;
      outline: none;
      border-radius: 5px;
      box-decoration-break: 0px 0px 10px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      font-family: 'Bebas Neue', sans-serif;
      font-size: 18px;
      font-weight: 400;
      color: #000000;
  }
  
  .container-login .register-link {
      font-size: 14px;
      text-align: center;
      margin: 20px 0px 0px ;
  }
  
  .register-link p .log2 {
      color: #fff;
      text-decoration: none;
  }
  
  .register-link p .log2:hover {
      text-decoration: underline;
  }
  
  .log2 {
      color: rgb(14, 14, 14);
  }
  