@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

$general: (
    bg-color: white,
    color-parrafos: black,
    color-nav: #16aba4,
    font-size-titulos: xx-large,
    font-size-parrafos: large,
    font-titulos: ('Bebas Neue', sans-serif),
    font-parrafos: ('Roboto', sans-serif)
    );